@import url("bootstrap.css");
.body{
    background-color: aliceblue;
}
.container {
    display: flex; /*Make the container a flex container*/
}
.mDetails{
    width: 100%;
    background-color: #fff;
}
.head,.foot{
    background-color: rgb(77, 77, 240);
    color: #fff;
    padding: 20px;
}
.listAtt{
    list-style: none;
    color: white;
}
#movieMenu{
    padding-top: 5px;
}
.film_items{
    height: 35px;
    width: 250px;
    border: 1px solid #747474;
    background-color: rgb(110, 110, 223);
    color: #333; /* Default link color */
    text-decoration: none;
}
.film_items:active {
    color: #FF0000;
}
